{%- comment -%}
  Image snippet that supports aspect-ratios, using the Shopify "crop: 'ratio'" attribute.
  The snippet respects FocalPoint set in Shopify image editor.

  props:

  image:           the shopify image object,
  image_mobile:    optionally another image for mobile
  sizes:           value for the sizes attribute, defaults to '100vw, 100vw'
  loading:         sets loading attribute, defaults to 'lazy'
  aspect_ratio:    css string defining aspect ratio, f.ex: '16/9'
  aspect_ratio_sm: css string defining aspect ratio on small screens (overwrites aspect_ratio)
  aspect_ratio_md: css string defining aspect ratio on large screens (overwrites aspect_ratio)
  style:           any inline style to apply to the <img>

  example usages:

  {% render 'image', image: product.featured_image %}

  {% render 'image',
    image: section.settings.image,
    sizes: '100vw, 50vw',
    aspect_ratio: '1/1',
    style: 'opacity: 0.3'
  %}

  {% render 'image',
    image: section.settings.image,
    image_mobile: section.settings.image_mobile,
    aspect_ratio_sm: '3/4'
    aspect_ratio_md: '16/9'
  %}
{%- endcomment -%}

{%- assign image_name_desktop = image | image_url | split: '/' | last | split: '?' | first -%}
{%- assign fpd = images[image_name_desktop].presentation.focal_point -%}

{%- assign image_mobile = image_mobile | default: image -%}

{%- if image_mobile != blank -%}
  {%- assign image_name_mobile = image_mobile | image_url | split: '/' | last | split: '?' | first -%}
  {%- assign fpm = images[image_name_mobile].presentation.focal_point -%}
{%- endif -%}

{%- assign focal_points_sm = fpm | split: ' ' -%}
{%- assign focal_point_sm_x = focal_points_sm | first | replace: '%', '' | times: 0.01 -%}
{%- assign focal_point_sm_y = focal_points_sm | last | replace: '%', '' | times: 0.01 -%}

{%- assign focal_points_md = fpd | split: ' ' -%}
{%- assign focal_point_md_x = focal_points_md | first | replace: '%', '' | times: 0.01 -%}
{%- assign focal_point_md_y = focal_points_md | last | replace: '%', '' | times: 0.01 -%}

{%- comment -%} ASPECT RATIO DEFAULT/GLOBAL {%- endcomment -%}
{%- assign aspect_ratio_int = blank -%}

{%- if aspect_ratio != blank -%}
  {%- assign aspect_ratio_ints = aspect_ratio | split: '/' -%}
  {%- assign aspect_ratio_int = aspect_ratio_ints[0] | times: 1.0 | divided_by: aspect_ratio_ints[1] -%}
{%- endif -%}

{%- comment -%} ASPECT RATIO SM {%- endcomment -%}
{%- assign aspect_ratio_sm_int = blank -%}

{%- if aspect_ratio_sm != blank -%}
  {%- assign aspect_ratio_sm_ints = aspect_ratio_sm | split: '/' -%}
  {%- assign aspect_ratio_sm_int = aspect_ratio_sm_ints[0] | times: 1.0 | divided_by: aspect_ratio_sm_ints[1] -%}
{%- endif -%}

{%- comment -%} ASPECT RATIO MD {%- endcomment -%}
{%- assign aspect_ratio_md_int = blank -%}

{%- if aspect_ratio_md != blank -%}
  {%- assign aspect_ratio_md_ints = aspect_ratio_md | split: '/' -%}
  {%- assign aspect_ratio_md_int = aspect_ratio_md_ints[0] | times: 1.0 | divided_by: aspect_ratio_md_ints[1] -%}
{%- endif -%}

{%- assign active_aspect_radio_sm = aspect_ratio_sm_int | default: aspect_ratio_int -%}
{%- assign active_aspect_radio_md = aspect_ratio_md_int | default: aspect_ratio_int -%}

{%- comment -%} Widths to generate <srcset> for {%- endcomment -%}
{%- assign widths = '10,50,100,150,165,256,360,535,750,1070,1500,2200,2800,4500,6000' | split: ',' -%}

{%- assign height_attribute_sm = image_mobile.height -%}
{%- if active_aspect_radio_sm != blank -%}
  {%- assign height_attribute_sm = image_mobile.width | divided_by: active_aspect_radio_sm -%}
{%- endif -%}

{%- assign height_attribute_md = image.height -%}
{%- if active_aspect_radio_md != blank -%}
  {%- assign height_attribute_md = image.width | divided_by: active_aspect_radio_md -%}
{%- endif -%}

{%- if image == blank -%}
  <div style="aspect-ratio: {{ aspect_ratio }}">
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg size-full' }}
  </div>
{%- else -%}
  <picture
    {% if class != blank %}
      class="{{ class }}"
    {% endif %}
    {% if style != blank %}
      style="{{ style }}"
    {% endif %}
  >
    {%- if image_mobile != blank -%}
      <source
        srcset="
          {%- for width in widths -%}
            {%- assign width_int = width | times: 1 -%}

            {%- if image_mobile.width >= width_int -%}
              {%- if active_aspect_radio_sm == blank -%}
                {{ image_mobile | image_url: width: width_int, format: 'webp' }} {{ width_int }}w,
              {%- else -%}
                {%- assign original_image_ratio = image.width | times: 1.0 | divided_by: image.height -%}

                {%- if original_image_ratio > active_aspect_radio_sm -%}
                  {%- assign crop_width = image.height | times: active_aspect_radio_sm -%}
                  {%- assign crop_height = image.height -%}
                {%- else -%}
                  {%- assign crop_width = image.width -%}
                  {%- assign crop_height = crop_width | divided_by: active_aspect_radio_sm -%}
                {%- endif -%}

                {%- assign focal_left = focal_point_sm_x | times: image_mobile.width -%}
                {%- assign focal_top = focal_point_sm_y | times: image_mobile.height -%}

                {%- assign minus_value_left = crop_width | divided_by: 2 -%}
                {%- assign crop_left = focal_left | minus: minus_value_left -%}
                {%- assign minus_value_top = crop_height | divided_by: 2 -%}
                {%- assign crop_top = focal_top | minus: minus_value_top -%}

                {%- assign crop_left_max = image_mobile.width | minus: crop_width -%}
                {%- assign crop_left = crop_left | at_most: crop_left_max -%}
                {%- assign crop_left = crop_left | at_least: 0 -%}

                {%- assign crop_top_max = image_mobile.height | minus: crop_height -%}
                {%- assign crop_top = crop_top | at_most: crop_top_max -%}
                {%- assign crop_top = crop_top | at_least: 0 -%}

                {%- assign crop_width = crop_width | at_most: 5760 -%}
                {%- assign crop_height = crop_height | at_most: 5760 -%}

                {{ image_mobile | image_url:
                  width: width_int,
                  format: 'webp',
                  crop: 'region',
                  crop_left: crop_left,
                  crop_top: crop_top,
                  crop_width: crop_width,
                  crop_height: crop_height
                }} {{ width_int }}w,
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          {{ url }}
        "
        sizes="(max-width: 750px) {{ sizes | default: '100vw, 100vw' }}"
        width="{{ image_mobile.width }}"
        height="{{ height_attribute_sm }}"
        media="(max-width: 750px)"
      >
    {%- endif -%}

    <source
      srcset="
        {%- for width in widths -%}
          {%- assign width_int = width | times: 1 -%}

          {%- if image.width >= width_int -%}
            {%- if active_aspect_radio_md == blank -%}
              {{ image | image_url: width: width_int, format: 'webp' }} {{ width_int }}w,
            {%- else -%}
              {%- assign original_image_ratio = image.width | times: 1.0 | divided_by: image.height -%}
              {%- if original_image_ratio > active_aspect_radio_md -%}
                {%- assign crop_width = image.height | times: active_aspect_radio_md -%}
                {%- assign crop_height = image.height -%}
              {%- else -%}
                {%- assign crop_width = image.width -%}
                {%- assign crop_height = crop_width | divided_by: active_aspect_radio_md -%}
              {%- endif -%}

              {%- assign focal_left = focal_point_md_x | times: image.width -%}
              {%- assign focal_top = focal_point_md_y | times: image.height -%}

              {%- assign minus_value_left = crop_width | divided_by: 2 -%}
              {%- assign crop_left = focal_left | minus: minus_value_left -%}
              {%- assign minus_value_top = crop_height | divided_by: 2 -%}
              {%- assign crop_top = focal_top | minus: minus_value_top -%}

              {%- assign crop_left_max = image.width | minus: crop_width -%}
              {%- assign crop_left = crop_left | at_most: crop_left_max -%}
              {%- assign crop_left = crop_left | at_least: 0 -%}

              {%- assign crop_top_max = image.height | minus: crop_height -%}
              {%- assign crop_top = crop_top | at_most: crop_top_max -%}
              {%- assign crop_top = crop_top | at_least: 0 -%}

              {%- assign crop_width = crop_width | at_most: 5760 -%}
              {%- assign crop_height = crop_height | at_most: 5760 -%}

              {{ image | image_url:
                width: width_int,
                format: 'webp',
                crop: 'region',
                crop_left: crop_left,
                crop_top: crop_top,
                crop_width: crop_width,
                crop_height: crop_height
              }} {{ width_int }}w,
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {{ url }}
      "
      sizes="(max-width: 750px) {{ sizes | default: '100vw, 100vw' }}"
      width="{{ image.width }}"
      height="{{ height_attribute_md }}"

      {%- if image_mobile != blank -%}
        media="(min-width: 750px)"
      {%- endif -%}
    >

    <img
      x-data="{ show: false }"
      x-init="if($el.complete) show = true"
      @load="show = true"
      :class="show ? 'opacity-100' : ''"
      class="h-full w-full opacity-0 transition-opacity duration-300"
      src="{{ image | image_url: width: 2000, format: 'webp' }}"
      alt="{{ image.alt }}"
      width="{{ image.width }}"
      height="{{ height_attribute_md }}"
      loading="{{ loading | default: 'lazy' }}"
    >
  </picture>
{%- endif -%}
