{% doc %}
  This snippet renders all product options as links to the corresponding variant.
  The javascript hijacks the redirect and swaps the markup of itself as well as a target (product form).
  Requires [Alpine.js](https://alpinejs.dev/) and `src/utils/alpine-swap.ts`.

  The target form only needs to care about the currently selected variant,
  as the form is always the "current" variant's form.

  @example
  {% render 'variant-picker' %}

  {% form 'product' %}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <input type="hidden" name="quantity" value="1">
    <button>Add to cart</button>
  {% endform %}
{% enddoc %}

{% unless product.has_only_default_variant %}
  {% assign disabled_classes = 'text-gray-300 border-gray-200 bg-cover bg-center after:h-px after:w-[150%] after:-rotate-[18deg] after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:bg-zinc-200' %}

  <section id="variant_picker" class="variant-picker grid gap-4">
    {%- for option in product.options_with_values -%}
      <fieldset>
        <legend class="mb-2">{{ option.name }}</legend>

        <ul class="flex gap-4">
          {%- for option_value in option.values -%}
            <li class="w-full">
              {% assign variants = product.variants %}

              {% comment %} get url to this option's variant, given what's selected of the other options {% endcomment %}
              {%- for other_option in product.options_with_values -%}
                {% if other_option.name == option.name %}
                  {% assign option_key = 'option' | append: option.position %}
                  {% assign variants = variants | where: option_key, option_value.name %}
                {% else %}
                  {% assign option_key = 'option' | append: other_option.position %}
                  {% assign variants = variants | where: option_key, other_option.selected_value %}
                {% endif %}
              {% endfor %}

              <a
                x-init="window.swup.preload('{{ product.url }}?variant={{ variants.first.id }}')"
                x-swap="{{ swap_ids }}"
                @swap:update="e => window.history.replaceState(null, '', e.detail)"
                class="checkbox {% unless option_value.available %}disabled {{ disabled_classes }}{% else %} border-gray-400 {% endunless %} {% if option_value.selected %}checked text-white bg-zinc-600 {% else %} hover:bg-gray-50 {% endif %}"
                href="{{ product.url }}?variant={{ variants.first.id }}"
              >
                {{ option_value -}}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </fieldset>
    {%- endfor -%}
  </section>
{% endunless %}

{% stylesheet %}
  .variant-picker {
    a {
      transition: all 200ms;
    }

    a.checked {
      /* scale: 1.2; */
    }

    a.disabled {
    }
  }
{% endstylesheet %}
