{% comment %}
  https://help.shopify.com/en/manual/online-store/search-and-discovery
{% endcomment %}

{% assign active_values = collection.filters | map: 'active_values' %}
{% assign active_values_amount = 0 %}
{% for value in active_values %}
  {% assign active_values_amount = active_values_amount | plus: value.size %}
{% endfor %}

<button id="filter_button" class="button" onclick="document.getElementById('filter_drawer')?.show()">
  Filter <span class="text-gray-500">({{ active_values_amount }})</span>
</button>

<dialog scroll-lock id="filter_drawer" closedby="any" class="fixed top-0 z-9 w-full">
  <form
    id="filter_form"
    x-sync-params
    x-target="filter_result filter_button"
    @change="$el.requestSubmit()"
    class="max-h-dvh overflow-auto overscroll-contain"
  >
    <div
      class="grid justify-center gap-4 border-b border-gray-300 bg-white px-4 pt-14 md:grid-cols-4 md:pb-14"
      x-bind="drawerContent"
    >
      {%- for filter in collection.filters -%}
        <div>
          <p class="mb-2 text-xs tracking-wider uppercase">{{ filter.label }}</p>

          {%- case filter.type -%}
              {% comment %} BOOLEAN FILTER {% endcomment %}
            {%- when 'boolean' -%}
              <input
                type="checkbox"
                name="{{ filter.param_name }}"
                value="{{ filter.true_value.value }}"
                id="Filter-{{ filter.param_name }}"
                {% if filter.true_value.active -%}
                  checked
                {%- endif %}
              >
              {{- filter.true_value.label -}}
              ({{ filter.true_value.count }})
              <input
                type="checkbox"
                name="{{ filter.param_name }}"
                value="{{ filter.false_value.value }}"
                id="Filter-{{ filter.param_name }}"
                {% if filter.false_value.active -%}
                  checked
                {%- endif %}
              >
              {{- filter.false_value.label -}}
              ({{ filter.false_value.count }})

              {% comment %} LIST FILTER {% endcomment %}
            {%- when 'list' -%}
              {%- for filter_value in filter.values -%}
                <div class="mb-1" data-type="list">
                  <label
                    {% if filter_value.swatch != blank %}
                      style="
                        {%- if filter_value.swatch.color != blank -%}
                        background-color: {{ filter_value.swatch.color }};
                        {%- endif -%}
                        {%- if filter_value.swatch.image != blank -%}
                        background-image: url({{ filter_value.swatch.image | image_url }});
                        {%- endif -%}
                      "
                    {% endif %}
                    class="ml-2 inline-flex items-center gap-2 text-sm text-gray-900"
                  >
                    {{ filter_value.swatch.image }}
                    <input
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-neutral-900 focus:ring-neutral-900"
                      name="{{ filter_value.param_name }}"
                      value="{{ filter_value.value }}"
                      {% if filter_value.active -%}
                        checked
                      {%- endif %}
                    >
                    {{ filter_value.swatch.color }}

                    {% comment %}
                      To use color swatches:
                      Create a Metaobject with 3 fields:
                       1. "Label" - Single line text
                       2. "Color" - Color
                       3. "Image" - File (image)

                      Create a Metafield on Variants and add this Metaobject as field value.
                      Create a new Search & Discovery Filter and choose the Metafield as Source.
                      Change Display options of the filter to "Swatch color: Color" and "Swatch pattern: Image"
                    {% endcomment %}
                    {% if filter.presentation == 'swatch' %}
                      {% if filter_value.swatch.color != blank %}
                        <span
                          style="background-color: {{ filter_value.swatch.color }}; height: 30px; width: 30px; display: inline-block;"
                        ></span>
                      {% elsif filter_value.swatch.image != blank %}
                        {{ filter_value.swatch.image | image_url: width: 30, height: 30 | image_tag }}
                      {% endif %}
                    {% else %}
                      {{ filter_value.label }}
                      <span class="text-gray-400">({{ filter_value.count }})</span>
                    {% endif %}
                  </label>
                </div>
              {%- endfor -%}

              {% comment %} PRICE FILTER {% endcomment %}
            {%- when 'price_range' -%}
              {% assign low_value = filter.min_value.value
                | money_without_currency
                | replace: ',', ''
                | replace: '.', ''
                | round
              %}
              {% assign high_value = filter.max_value.value
                | money_without_currency
                | replace: ',', ''
                | replace: '.', ''
                | round
              %}
              {% assign max_value = filter.range_max
                | money_without_currency
                | replace: ',', ''
                | replace: '.', ''
                | round
              %}

              <label x-data="{ value: {% if filter.min_value.value != blank %}{{ low_value }}{% else %}0{% endif %} }">
                <p>
                  From:
                  <span x-text="value">
                    {%- if filter.min_value.value != blank %}{{ low_value }}{% else %}0{% endif -%}
                  </span>
                  {{ cart.currency.symbol }}
                </p>

                <input
                  name="filter.v.price.gte"
                  type="range"
                  min="0"
                  @change="value = $el.value"
                  x-model="value"
                  max="{{ max_value }}"
                >
              </label>

              <label x-data="{ value: {% if filter.max_value.value != blank %}{{ high_value }}{% else %}{{ max_value }}{% endif %} }">
                <p>
                  To:
                  <span x-text="value">
                    {%- if filter.max_value.value != blank %}{{ high_value }}{% else %}{{ max_value }}{% endif -%}
                  </span>
                  {{ cart.currency.symbol }}
                </p>
                <input
                  name="filter.v.price.lte"
                  type="range"
                  min="0"
                  x-model="value"
                  max="{{ max_value }}"
                >
              </label>
          {%- endcase -%}
        </div>
      {%- endfor -%}

      <div class="sticky right-0 bottom-0 flex items-end gap-4 bg-white md:px-4 pb-4 pt-2 max-md:border-t max-md:border-gray-300 md:absolute">
        <div>
          <label for="sort-by" class="inline-block text-xs tracking-wider uppercase">Sort by:</label>
          <select id="sort-by" name="sort_by" class="inline-block">
            <option value="manual">Manual</option>
            <option value="best-selling">Best selling</option>
            <option value="title-ascending">Title ascending</option>
            <option value="title-descending">Title descending</option>
            <option value="price-ascending">Price ascending</option>
            <option value="price-descending">Price descending</option>
            <option value="created-ascending">Created ascending</option>
            <option value="created-descending">Created descending</option>
          </select>
        </div>
        <a
          x-swap="filter_form filter_result filter_button"
          href="{{ collection.url }}?sort_by={{ collection.sort_by }}"
          class="inline-block border-b border-dotted text-xs whitespace-nowrap text-gray-600 uppercase hover:text-black"
        >
          Clear all
        </a>

        <button onclick="this.closest('dialog')?.close()" type="button" class="button border-b">Apply</button>
      </div>
    </div>
  </form>
</dialog>

{% comment %} backdrop {% endcomment %}
<div
  class="pointer-events-none fixed top-0 left-0 backdrop-blur-[2px] z-8 h-screen w-screen bg-black/25 opacity-0 transition-opacity duration-500"
></div>

{% stylesheet %}
  dialog#filter_drawer[open] {
    transform: translateY(0);

    /* show backdrop */
    + div {
      opacity: 1;
      pointer-events: all;
    }
  }

  dialog#filter_drawer {
    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

    transform: translateY(-100%);
    transition: all 500ms var(--ease-in-out) allow-discrete;
  }

  @starting-style {
    dialog#filter_drawer[open] {
      transform: translateY(-100%);
    }
  }

  /* dialog#filter_drawer::backdrop {
    background-color: rgb(0 0 0 / 25%);
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: all 500ms var(--ease-in-out) allow-discrete;
  }

  dialog#filter_drawer[open]::backdrop {
    opacity: 1;
  }

  @starting-style {
    dialog#filter_drawer[open]::backdrop {
      opacity: 0;
    }
  } */
{% endstylesheet %}

{% schema %}
{
  "name": "Filter",
  "presets": [{ "name": "Filter" }]
}
{% endschema %}
