<!doctype html>
<html lang="{{ shop.locale }}" class="no-js">
  <head>
    {% render 'meta-tags' %}

    {{ settings.custom_head }}

    <link
      rel="icon"
      media="(prefers-color-scheme: light)"
      href="{%- if settings.favicon_dark != blank -%}{{ settings.favicon_dark | image_url: width: 512, crop: false }}{%- else -%}{{ 'favicon.png' | asset_img_url }}{%- endif -%}"
    >

    <link
      rel="icon"
      media="(prefers-color-scheme: dark)"
      href="{%- if settings.favicon_light != blank -%}{{ settings.favicon_light | image_url: width: 512, crop: false }}{%- else -%}{{ 'favicon.png' | asset_img_url }}{%- endif -%}"
    >

    {%- liquid
      render 'vite' with 'theme.css', preload_stylesheet: true
      render 'vite' with 'theme.ts'
    -%}

    <script>
      document.documentElement.classList.remove('no-js')
    </script>

    {{ content_for_header }}
  </head>

  <body data-barba="wrapper" x-cloak class="grid min-h-screen grid-rows-[auto_1fr] overflow-x-clip">
    {% section 'site-header' %}

    <main data-barba="container" role="main" class="grid min-h-[calc(100vh-2.5rem)] grid-rows-[1fr_auto] bg-white">
      <div>
        {{ content_for_layout }}
      </div>

      {% section 'site-footer' %}
    </main>
  </body>
</html>
