<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <title>
      {{ page_title }}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% if settings.favicon_dark != blank %}
      <link
        rel="icon"
        media="(prefers-color-scheme: light)"
        href="{{ settings.favicon_dark | image_url: width: 512, crop: false }}"
      >
    {% endif %}

    {% if settings.favicon_light != blank %}
      <link
        rel="icon"
        media="(prefers-color-scheme: dark)"
        href="{{ settings.favicon_light | image_url: width: 512, crop: false }}"
      >
    {% endif %}

    {%- liquid
      render 'vite' with 'theme.css', preload_stylesheet: true
      render 'vite' with 'theme.ts'
    -%}
  </head>

  <body data-barba="wrapper">
    {% section 'site-header' %}

    <main data-barba="container" data-barba-namespace="main" role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
