<!doctype html>
<html lang="{{ shop.locale.iso_code }}" class="no-js">
  <head>
    {% render 'meta-tags' %}

    {{ settings.custom_head }}

    {% assign default_favicon = 'favicon.png' | asset_img_url %}

    <link
      rel="icon"
      type="image/png"
      media="(prefers-color-scheme: light)"
      href="{{ settings.favicon_dark | image_url: width: 64, crop: false | default: default_favicon }}"
    >

    <link
      rel="icon"
      type="image/png"
      media="(prefers-color-scheme: dark)"
      href="{{ settings.favicon_light | image_url: width: 64, crop: false | default: default_favicon }}"
    >

    {%- liquid
      render 'vite' with 'theme.css', preload_stylesheet: true
      render 'vite' with 'theme.ts'
    -%}

    <script>
      document.documentElement.classList.remove('no-js')
    </script>

    {{ content_for_header }}
  </head>

  <body data-barba="wrapper" x-cloak class="grid min-h-screen grid-rows-[auto_1fr] overflow-x-clip">
    {% section 'site-header' %}

    <main data-barba="container" role="main" class="grid min-h-[calc(100vh-2.5rem)] grid-rows-[1fr_auto] bg-white">
      <div>
        {{ content_for_layout }}
      </div>

      {% section 'site-footer' %}
    </main>
  </body>
</html>
