<section
  x-data="cartDrawer"
  class="absolute top-0 right-0 z-3 h-screen w-md max-w-screen bg-white text-sm transition-transform duration-500 ease-in-out after:absolute after:top-0 after:right-full after:h-full after:w-screen after:bg-black/50 after:transition-opacity after:duration-700 after:ease-in-out"
  :class='[isOpen ? "translate-x-0 after:opacity-100" : "translate-x-full after:opacity-0 after:pointer-events-none"]'
  @window:navigation.window="close"
  @cart:updated.window="window.location.pathname !== '/cart' && open"
  @cart-drawer:open.window="open"
>
  <div @click.outside="close" class="grid h-full grid-rows-[auto_1fr]">
    <div
      :class="loading ? 'opacity-100' : 'opacity-0 transition-opacity'"
      class="pointer-events-none absolute inset-0 z-1 bg-white"
    ></div>

    <div class="mx-4 flex h-10 items-center justify-between border-b border-gray-300">
      <p class="text-sm uppercase">Your cart ({% render 'cart-amount' %})</p>

      <button aria-label="Close cart drawer" @click="close" class="button size-5">
        {% render 'icon-cross' %}
      </button>
    </div>

    <form
      x-data='cartForm("cart-drawer")'
      action="{{ routes.cart_url }}"
      method="post"
      class="flex flex-col overflow-auto px-4"
      @cart:updated.window="render"
    >
      {%- if cart == empty -%}
        <p class="py-4">Your cart is empty</p>
        <a
          href="/collections"
          class="my-2 mr-auto cursor-pointer rounded border border-gray-300 bg-gray-100 p-2 tracking-wider uppercase"
        >
          Go to shop
        </a>
      {% else %}
        {%- for item in cart.items -%}
          <div
            style="view-transition-name: cart-drawer-item-{{ item.variant_id }}"
            class="flex gap-2 overflow-clip border-b border-gray-200 py-4"
          >
            {% if item.image %}
              {% render 'image', image: item.image, class: 'w-30', sizes: '100px, 100px' %}
            {%- endif -%}

            <div class="flex w-full flex-col">
              <div class="mb-1 flex justify-between">
                <a class="" href="{{ item.url }}">{{ item.product.title | escape }}</a>

                <div class="text-right">
                  {% comment %} per item price {% endcomment %}
                  {% comment %}
                    {%- if item.original_price != item.final_price -%}
                      <p>
                        <s>{{ item.original_price | money -}}</s>
                      </p>
                      <p>{{ item.final_price | money -}}</p>
                    {%- else -%}
                      <p>{{ item.original_price | money }}</p>
                    {%- endif -%}
                  {% endcomment %}

                  {% comment %} multiple items price {% endcomment %}
                  <div>
                    {%- if item.original_line_price != item.final_line_price -%}
                      <p>
                        <s>{{ item.original_line_price | money }}</s>
                      </p>
                      <p>{{ item.final_line_price | money }}</p>
                    {%- else -%}
                      <p>{{ item.original_line_price | money }}</p>
                    {%- endif -%}

                    {%- if item.variant.available and item.unit_price_measurement -%}
                      {{ item.unit_price | money }}

                      {%- if item.unit_price_measurement.reference_value != 1 -%}
                        {{- item.unit_price_measurement.reference_value -}}
                      {%- endif -%}

                      {{ item.unit_price_measurement.reference_unit }}
                    {%- endif -%}
                  </div>
                </div>
              </div>

              <dl class="inline-grid w-fit grid-cols-2 gap-x-2 text-xs uppercase">
                {%- if item.product.has_only_default_variant == false -%}
                  {%- for option in item.options_with_values -%}
                    <dt>{{ option.name }}:</dt>
                    <dd>{{ option.value }}</dd>
                  {%- endfor -%}
                {%- endif -%}

                {%- for property in item.properties -%}
                  {%- assign property_first_char = property.first | slice: 0 -%}
                  {%- if property.last != blank and property_first_char != '_' -%}
                    <dt>{{ property.first }}:</dt>
                    <dd>
                      {%- if property.last contains '/uploads/' -%}
                        <a href="{{ property.last }}" class="link" target="_blank">
                          {{ property.last | split: '/' | last }}
                        </a>
                      {%- else -%}
                        {{ property.last }}
                      {%- endif -%}
                    </dd>
                  {%- endif -%}
                {%- endfor -%}
              </dl>

              {{ item.selling_plan_allocation.selling_plan.name }}

              {%- for discount in item.line_level_discount_allocations -%}
                {{ discount.discount_application.title }}
              {%- endfor -%}

              <div class="mt-auto">
                <div class="mt-3 flex items-end justify-between gap-4">
                  <div class="flex items-center gap-3" x-data="{ count: {{ item.quantity }} }">
                    <button
                      type="button"
                      @click="
                        (e) => {
                          count--
                          handleQuantityChange(e)
                        }
                      "
                      class="inline-flex aspect-square w-6 cursor-pointer items-center justify-center rounded-full border border-gray-300 hover:border-black"
                      name="updates[]"
                      :value="count - 1"
                      id="{{ item.variant_id }}"
                      aria-label="Decrease quantity of {{ item.title }}"
                    >
                      -
                    </button>

                    <span x-text="count">{{ item.quantity }}</span>

                    <button
                      type="button"
                      @click="
                        (e) => {
                          count++
                          handleQuantityChange(e)
                        }
                      "
                      class="inline-flex aspect-square w-6 cursor-pointer items-center justify-center rounded-full border border-gray-300 hover:border-black"
                      name="updates[]"
                      :value="count + 1"
                      id="{{ item.variant_id }}"
                      aria-label="Increase quantity of {{ item.title }}"
                    >
                      +
                    </button>
                  </div>

                  <a
                    @click.prevent="handleRemove"
                    data-barba-prevent
                    class="inline-block border-b border-dotted text-xs text-gray-600 uppercase hover:text-black"
                    href="{{ item.url_to_remove }}"
                  >
                    Remove
                  </a>
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}

        <div class="sticky bottom-0 mt-auto grid w-full border-t border-gray-300 bg-white py-4">
          <p class="text-right">Total: {{ cart.total_price | money_with_currency }}</p>

          <button
            class="my-4 w-full rounded border border-gray-300 bg-gray-100 p-2 tracking-wider uppercase"
            type="submit"
            name="checkout"
            {% if cart == empty %}
              disabled
            {% endif %}
            form="cart"
          >
            Checkout
          </button>

          <a href="/cart" class="button mb-2 inline-block justify-self-center text-center">Go to cart</a>
        </div>
      {%- endif -%}
    </form>
  </div>
</section>

{% schema %}
{
  "name": "Cart drawer",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Cart"
    }
  ]
}
{% endschema %}
