<section class='my-20 px-4'>
  <h1 class='mb-4 text-3xl'>{{ section.settings.title }}</h1>

  <form x-data='cart' action='{{ routes.cart_url }}' method='post' class='grid gap-6'>
    {%- if cart == empty -%}
      Your cart is empty
    {% else %}
      {%- for item in cart.items -%}
        <div
          style='view-transition-name: item-{{ item.variant_id }}'
          class='grid grid-cols-2 overflow-clip rounded-lg border border-gray-200 bg-gray-50'
        >
          {% if item.image %}
            {% render 'image', image: item.image %}
          {%- endif -%}

          <div class='flex flex-col p-4'>
            <div class='flex justify-between'>
              <a class='text-lg font-bold text-blue-500' href='{{ item.url }}'>{{ item.product.title | escape }}</a>

              <div class='text-2xl'>
                {%- if item.original_price != item.final_price -%}
                  <p>Original price: {{ item.original_price | money -}}</p>
                  <p>Final price: {{ item.final_price | money -}}</p>
                {%- else -%}
                  <p>Price: {{ item.original_price | money }}</p>
                {%- endif -%}
              </div>
            </div>

            <dl>
              {%- if item.product.has_only_default_variant == false -%}
                {%- for option in item.options_with_values -%}
                  <dt class='font-bold'>{{ option.name }}:</dt>
                  <dd>{{ option.value }}</dd>
                {%- endfor -%}
              {%- endif -%}

              {%- for property in item.properties -%}
                {%- assign property_first_char = property.first | slice: 0 -%}
                {%- if property.last != blank and property_first_char != '_' -%}
                  <dt class='font-bold'>{{ property.first }}:</dt>
                  <dd>
                    {%- if property.last contains '/uploads/' -%}
                      <a href='{{ property.last }}' class='link' target='_blank'>
                        {{ property.last | split: '/' | last }}
                      </a>
                    {%- else -%}
                      {{ property.last }}
                    {%- endif -%}
                  </dd>
                {%- endif -%}
              {%- endfor -%}
            </dl>

            {{ item.selling_plan_allocation.selling_plan.name }}

            {%- for discount in item.line_level_discount_allocations -%}
              {{ discount.discount_application.title }}
            {%- endfor -%}

            <div class='mt-auto'>
              <div class='my-4 text-2xl'>
                {%- if item.original_line_price != item.final_line_price -%}
                  <p>Total original price: {{ item.original_line_price | money }}</p>
                  <p>Total final price: {{ item.final_line_price | money }}</p>
                {%- else -%}
                  <p>Total price: {{ item.original_line_price | money }}</p>
                {%- endif -%}

                {%- if item.variant.available and item.unit_price_measurement -%}
                  {{ item.unit_price | money }}

                  {%- if item.unit_price_measurement.reference_value != 1 -%}
                    {{- item.unit_price_measurement.reference_value -}}
                  {%- endif -%}

                  {{ item.unit_price_measurement.reference_unit }}
                {%- endif -%}
              </div>

              <a
                @click.prevent='handleRemove'
                data-barba-prevent
                class='rounded bg-blue-400 px-2 py-1 text-white'
                href='{{ item.url_to_remove }}'
              >
                Remove
              </a>

              <input
                @change.prevent='handleQuantityChange'
                class='rounded-sm border px-2 py-1'
                type='number'
                name='updates[]'
                value='{{ item.quantity }}'
                id='{{ item.variant.id }}'
                min='0'
              >
            </div>
          </div>
        </div>
      {%- endfor -%}

      <p class='my-4 text-3xl'>Total:</p>

      <p class='text-5xl font-bold'>{{ cart.total_price | money_with_currency }}</p>

      <button
        class='my-4 rounded bg-blue-400 px-2 py-1 text-white'
        type='submit'
        name='checkout'
        {% if cart == empty %}
          disabled
        {% endif %}
        form='cart'
      >
        Checkout
      </button>
    {%- endif -%}
  </form>
</section>

{% schema %}
{
  "name": "Main cart",
  "class": "main-cart",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Cart"
    }
  ]
}
{% endschema %}
