<h1>{{ product.title }}</h1>

<p>{{ product.description }}</p>

{% render 'image', image: product.featured_image %}

{%- form 'product', product, novalidate: 'novalidate', data-ref: 'product-form', data-pdp: 'true' -%}
  {% comment %} <script data-product>{{ product | json }}</script> {% endcomment %}

  {% if product.variants.size == 1 %}
    <input type="hidden" value="{{ product.selected_or_first_available_variant.id }}" name="id">
  {% else %}
    {% comment %} reference of what type of option we're on {% endcomment %}
    {% assign options_index = 0 %}

    {% comment %} loop through all options {% endcomment %}
    {% for option in product.options %}
      <div>
        {% comment %} keep reference of what we've printed {% endcomment %}
        {% assign printed_options = '' %}
        {% assign option_name = option %}

        <p>{{ option_name }}</p>

        <div>
          {% comment %} loop through all the variants {% endcomment %}
          {% for variant in product.variants %}
            {% assign printed_options_array = printed_options | split: ';;;' %}
            {% assign option_value = variant.options[options_index] %}

            {% comment %} print the option, if it's not yet printed {% endcomment %}
            {% unless printed_options_array contains option_value %}
              <label>
                {{ option_value }}

                <input
                  type="radio"
                  {% if variant.id == product.selected_or_first_available_variant.id %}
                    checked
                  {% endif %}
                  value="{{ option_value }}"
                  name="{{ option_name }}"
                >
              </label>
            {% endunless %}

            {% assign printed_options = printed_options | append: variant.options[options_index] | append: ';;;' %}
          {% endfor %}
        </div>
        {% assign options_index = options_index | plus: 1 %}
      </div>
    {% endfor %}
  {% endif %}

  <input type="hidden" value="1" name="quantity">

  <button
    type="submit"
    name="add"
    {% if product.selected_or_first_available_variant.available == false %}
      disabled
    {% endif %}
  >
    Buy
  </button>
{%- endform -%}

<script>
  console.log({{ product | json }})
</script>
