{% paginate search.results by 1000 %}
  <p>Search terms: {{ search.terms }}</p>
  <p>Results: {{ search.results_count }}</p>
  <p>Filters:</p>
  <ol>
    {% for filter in search.filters %}
      {% comment %} https://shopify.dev/docs/api/liquid/objects/filter {% endcomment %}
      <li>{{ filter.label }}</li>
    {% endfor %}
  </ol>
  <p>Sort by: {{ search.sort_by }}</p>
  <p>Default sort by: {{ search.default_sort_by }}</p>

  <p>Product count: {{ search.products_count }}</p>
  <p>All product count: {{ search.all_products_count }}</p>

  <select name="sort_by">
    {%- for option in search.sort_options -%}
      <option
        value="{{ option.value | escape }}"
        {% if option.value == sort_by %}
          selected="selected"
        {% endif %}
      >
        {{ option.name | escape }}
      </option>
    {%- endfor -%}
  </select>

  {% if search.results_count == 0 %}
    <h1>No results</h1>
  {% endif %}

  {% if search.performed == false %}
    <h2>Search isn't performed</h2>
  {% endif %}

  <ol>
    {%- for item in search.results -%}
      <li>
        {%- case item.object_type -%}
          {%- when 'product' -%}
            <a href="{{ item.url }}">{{ item.title | truncate: 50 | escape }}</a>
          {%- when 'article' -%}
            <a href="{{ item.url }}">{{ item.title | truncate: 50 | escape }}</a>
          {%- when 'page' -%}
            <a href="{{ item.url }}">{{ item.title | truncate: 50 | escape }}</a>
        {%- endcase -%}
      </li>
    {%- endfor -%}
  </ol>
{% endpaginate %}

{% schema %}
{
  "name": "Main search"
}
{% endschema %}
