<section class="my-4 px-4" x-data="mainCollection" @filter:update.window="handleFilterUpdate">
  <div class="mb-4 flex justify-between">
    <h1>
      {{ collection.title }}
      <span class="text-neutral-400">({{ collection.all_products_count }})</span>
    </h1>

    <button class="button" @click="$dispatch('filter:open')">Filter</button>
  </div>

  {% paginate collection.products by 24 %}
    <ol class="grid grid-cols-2 gap-x-4 gap-y-8 md:grid-cols-4">
      {% if collection.products.size == 0 %}
        <p class="col-span-4 text-sm">No results 😔</p>
      {% else %}
        {% for product in collection.products %}
          <li style="view-transition-name: main-collection-item-{{ product.id }}">
            {% render 'product-card', product: product %}
          </li>
        {% endfor %}
      {% endif %}
    </ol>

    {%- if paginate.pages > 1 -%}
      <nav role="navigation" class="mt-20 flex justify-center text-xs uppercase" x-data>
        <ol class="flex gap-4">
          {%- if paginate.previous -%}
            <li>
              <a @mousedown="window.forcePageRefresh = true" href="{{ paginate.previous.url }}">
                Previous <span class="sr-only">page</span>
              </a>
            </li>
          {%- else -%}
            <li class="text-neutral-400">Previous <span class="sr-only">page</span></li>
          {%- endif -%}

          {%- for part in paginate.parts -%}
            {%- if part.is_link -%}
              <li>
                <a @mousedown="window.forcePageRefresh = true" href="{{ part.url }}">
                  <span class="sr-only">page</span> {{ part.title }}
                </a>
              </li>
            {%- else -%}
              {%- if part.title == paginate.current_page -%}
                <li class="underline" aria-current="page"><span class="sr-only">page</span> {{ part.title }}</li>
              {%- else -%}
                <li><span class="sr-only">page</span> {{ part.title }}</li>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if paginate.next -%}
            <li>
              <a @mousedown="window.forcePageRefresh = true" href="{{ paginate.next.url }}">
                Next <span class="sr-only">page</span>
              </a>
            </li>
          {%- else -%}
            <li class="text-neutral-400">Next <span class="sr-only">page</span></li>
          {%- endif -%}
        </ol>
      </nav>
    {%- endif -%}
  {% endpaginate %}
</section>
