{%- if predictive_search.performed -%}
  {%- if predictive_search.resources.products.size > 0 -%}
    <ul class="grid gap-x-4 lg:grid-cols-2">
      {%- for product in predictive_search.resources.products -%}
        <li>
          <a href="{{ product.url }}" class="flex gap-4 border-b border-gray-300 py-4">
            {%- if product.selected_or_first_available_variant.featured_image != blank -%}
              {%- assign image = product.selected_or_first_available_variant.featured_image -%}
            {%- else -%}
              {%- assign image = product.featured_image -%}
            {%- endif -%}

            {% render 'image',
              image: image,
              class: 'w-20 rounded overflow-clip',
              loading: 'eager',
              sizes: '100px, 100px'
            %}

            <div class="flex flex-col">
              <span class="text-sm">{{ product.title }}</span>

              <dl class="mt-1 flex gap-2 text-xs uppercase">
                {%- for option in product.options_with_values -%}
                  <dt>{{ option.name }}:</dt>
                  <dd>{{ option.selected_value }}</dd>
                {%- endfor -%}
              </dl>

              <span class="mt-auto pt-2">{{ product.price | money }}</span>
            </div>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {% else %}
    <h1 class="mt-4">No results</h1>
  {%- endif -%}
{%- endif -%}

<script>
  console.log({{ predictive_search | json }})
</script>

{% schema %}
{
  "name": "Predictive search results",
  "class": "predictive-search-results"
}
{% endschema %}
