<div style="padding: 100px">
  - "page"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'page' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "image"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "collection-1"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "collection-2"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "collection-3"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'collection-3' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "collection-4"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'collection-4' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "collection-5"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'collection-5' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "collection-6"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'collection-6' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "lifestyle-1"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "lifestyle-2"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "product-1"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "product-2"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'product-2' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "product-3"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'product-3' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "product-4"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'product-4' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "product-5"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'product-5' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "product-6"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'product-6' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "hero-apparel-1"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "hero-apparel-2"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "hero-apparel-3"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "detailed-apparel-1"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "product-apparel-1"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "product-apparel-2"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "product-apparel-3"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'product-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "product-apparel-4"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'product-apparel-4' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "collection-apparel-1"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "collection-apparel-2"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'collection-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "collection-apparel-3"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'collection-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "collection-apparel-4"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'collection-apparel-4' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "blog-apparel-1"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'blog-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "blog-apparel-2"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'blog-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
  - "blog-apparel-3"
  <div style="display: flex; max-width: 800px; box-shadow: 0 0 30px rgba(0,0,0,0.1); margin-bottom: 50px">
    {{ 'blog-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <hr>
</div>
