{% comment %}
  https://shopify.dev/docs/storefronts/themes/product-merchandising/recommendations/complementary-products
{% endcomment %}

{%- assign unique_id = 'product_recommendations-' | append: section.id | append: product.id -%}

{%- assign amount = section.settings.limit | times: 1 | default: 4 -%}

<div class="my-4 px-4">
  <h2 class="mb-4">You may also like</h2>

  {%- unless recommendations.performed -%}
    <div id="{{ unique_id }}" class="product-recommendation-results grid grid-cols-2 lg:grid-cols-4 gap-4">
      {% comment %} results are appended here {% endcomment %}
      {% for i in (1..amount) %}
        {% render 'product-card-skeleton' %}
      {% endfor %}
    </div>

    <form
      {% comment %} automatically submit the form that requests recommendations {% endcomment %}
      x-init="setTimeout(() => $el.requestSubmit())"
      x-target="{{ unique_id }}"
      action="{{ routes.product_recommendations_url }}"
    >
      <input type="hidden" name="section_id" value="{{ section.id }}">
      <input type="hidden" name="product_id" value="{{ product.id }}">
      <input type="hidden" name="limit" value="{{ amount }}">
      <input type="hidden" name="intent" value="{{ section.settings.intent | default: 'related' }}">
    </form>
  {%- else -%}
    <ul id="{{ unique_id }}" class="product-recommendation-results grid grid-cols-2 lg:grid-cols-4 gap-4">
      {%- for product in recommendations.products -%}
        <li>
          {% content_for 'block', type: '_product-card', id: 'product_card', closest.product: product %}
        </li>
      {%- endfor -%}
    </ul>
  {%- endunless -%}
</div>

{% stylesheet %}
  @keyframes product-recommendation-fade-in {
    from {
      opacity: 0;
    }
  }

  .product-recommendation-results > * {
    animation: product-recommendation-fade-in 400ms forwards;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product recommendations",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "select",
      "id": "intent",
      "label": "Intent",
      "options": [
        { "label": "Related", "value": "related" },
        { "label": "Complementary", "value": "complementary" }
      ],
      "default": "related",
      "info": "What type of products"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "default": 4,
      "min": 0,
      "max": 8,
      "step": 1,
      "info": "How many products"
    }
  ],
  "presets": [
    {
      "name": "Product recommendations"
    }
  ]
}
{% endschema %}
