{% comment %}
  https://shopify.dev/docs/storefronts/themes/product-merchandising/recommendations/complementary-products
{% endcomment %}

{%- assign unique_id = 'product_recommendations-' | append: section.id | append: product.id -%}

{%- unless recommendations.performed -%}
  <div class="my-4 px-4">
    <h2 class="mb-4">You may also like</h2>

    <div id="{{ unique_id }}">
      {% comment %} results are appended here {% endcomment %}
    </div>

    <form
      x-init="setTimeout(() => $el.requestSubmit())"
      x-target="{{ unique_id }}"
      action="{{ routes.product_recommendations_url }}"
    >
      <input type="hidden" name="section_id" value="{{ section.id }}">
      <input type="hidden" name="product_id" value="{{ product.id }}">
      <input type="hidden" name="limit" value="{{ section.settings.limit | default: 4 }}">
      <input type="hidden" name="intent" value="{{ section.settings.intent | default: 'related' }}">
    </form>
  </div>
{%- else -%}
  <ul id="{{ unique_id }}" class="grid grid-cols-4 gap-4">
    {%- for product in recommendations.products -%}
      <li>
        {% content_for 'block', type: '_product-card', id: 'product_card', product: product %}
      </li>
    {%- endfor -%}
  </ul>
{%- endunless -%}

{% schema %}
{
  "name": "Product recommendations",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "select",
      "id": "intent",
      "label": "Intent",
      "options": [
        { "label": "Related", "value": "related" },
        { "label": "Complementary", "value": "complementary" }
      ],
      "default": "related",
      "info": "What type of products"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "default": 4,
      "min": 0,
      "max": 8,
      "step": 1,
      "info": "How many products"
    }
  ],
  "presets": [
    {
      "name": "Product recommendations"
    }
  ]
}
{% endschema %}
