<section class="p-4">
  {% paginate search.results by 24 %}
    <div class="mb-2 flex justify-between">
      <h1 class="">Results for: "{{ search.terms }}" ({{ search.results_count }})</h1>

      {% assign sorting_values = '[' %}

      {%- for option in search.sort_options -%}
        {% assign sorting_values = sorting_values
          | append: '{ title: "'
          | append: option.name
          | escape
          | append: '", value: "'
          | append: option.value
          | escape
          | append: '" },'
        %}
      {%- endfor -%}

      {% assign sorting_values = sorting_values | append: ']' %}

      {% render 'select', name: 'sort_by', values: sorting_values %}
    </div>

    {% comment %}
      <p>Filters:</p>
      <ol>
        {% for filter in search.filters %}
          {% comment %} https://shopify.dev/docs/api/liquid/objects/filter {% endcomment %}
          <li>{{ filter.label }}</li>
        {% endfor %}
      </ol>
    {% endcomment %}
    {% comment %}
      <p>Sort by: {{ search.sort_by }}</p>
      <p>Default sort by: {{ search.default_sort_by }}</p>

      <p>Product count: {{ search.products_count }}</p>
      <p>All product count: {{ search.all_products_count }}</p>
    {% endcomment %}

    {% if search.results_count == 0 %}
      <h1>No results</h1>
    {% endif %}

    {% if search.performed == false %}
      <h2>Search isn't performed</h2>
    {% endif %}

    <ol class="grid gap-4 md:grid-cols-4">
      {%- for item in search.results -%}
        <li>
          {%- case item.object_type -%}
            {%- when 'product' -%}
              {%- render 'product-card', product: item -%}
            {%- when 'article' -%}
              <a href="{{ item.url }}">{{ item.title | truncate: 50 | escape }}</a>
            {%- when 'page' -%}
              <a href="{{ item.url }}">{{ item.title | truncate: 50 | escape }}</a>
          {%- endcase -%}
        </li>
      {%- endfor -%}
    </ol>

    {%- if paginate.pages > 1 -%}
      <nav role="navigation" class="mt-20 flex justify-center" x-data>
        <ol class="flex gap-4">
          {%- if paginate.previous -%}
            <li>
              <a @mousedown="window.forceNavigationRefresh = true" href="{{ paginate.previous.url }}">
                <span aria-hidden="true">&laquo;</span>
                Previous <span class="sr-only">page</span>
              </a>
            </li>
          {%- else -%}
            <li class="disabled">
              <span aria-hidden="true">&laquo;</span>
              Previous <span class="sr-only">page</span>
            </li>
          {%- endif -%}

          {%- for part in paginate.parts -%}
            {%- if part.is_link -%}
              <li>
                <a @mousedown="window.forceNavigationRefresh = true" href="{{ part.url }}">
                  <span class="sr-only">page</span> {{ part.title }}
                </a>
              </li>
            {%- else -%}
              {%- if part.title == paginate.current_page -%}
                <li class="underline" aria-current="page"><span class="sr-only">page</span> {{ part.title }}</li>
              {%- else -%}
                <li><span class="sr-only">page</span> {{ part.title }}</li>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if paginate.next -%}
            <li>
              <a @mousedown="window.forceNavigationRefresh = true" href="{{ paginate.next.url }}">
                Next <span class="sr-only">page</span>
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {%- else -%}
            <li class="disabled">
              Next <span class="sr-only">page</span>
              <span aria-hidden="true">&raquo;</span>
            </li>
          {%- endif -%}
        </ol>
      </nav>
    {%- endif -%}
  {% endpaginate %}
</section>

{% schema %}
{
  "name": "Main search"
}
{% endschema %}
